In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Store filepath in a variable
csv_file = "Resources/all_states_history.csv"

# #Create new data frame with national_history

In [3]:
# Read our Data file with the pandas library
# CSV requires a delimiter
all_states_history_df = pd.read_csv(csv_file,delimiter=',')
all_states_history_df.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-23,AK,A,68.0,68.0,0,NaN,NaN,NaN,59.0,...,552746.0,4037,NaN,NaN,NaN,NaN,NaN,0,552746.0,4037
1,2020-10-23,AL,A,2859.0,2674.0,16,185.0,19595.0,19595.0,888.0,...,1289773.0,9078,NaN,NaN,62498.0,NaN,NaN,0,1289773.0,9078
2,2020-10-23,AR,A+,1782.0,1626.0,10,156.0,6678.0,6678.0,610.0,...,1267501.0,11967,NaN,21856.0,NaN,44666.0,NaN,0,1267501.0,11967
3,2020-10-23,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1616.0,0,NaN,NaN,NaN,NaN,NaN,0,1616.0,0
4,2020-10-23,AZ,A+,5865.0,5578.0,6,287.0,20967.0,20967.0,815.0,...,1681469.0,12907,311920.0,NaN,NaN,NaN,1681469.0,12907,NaN,0

In [4]:
# Show raw data
all_states_history_df

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-23,AK,A,68.0,68.0,0,NaN,NaN,NaN,59.0,...,552746.0,4037,NaN,NaN,NaN,NaN,NaN,0,552746.0,4037
1,2020-10-23,AL,A,2859.0,2674.0,16,185.0,19595.0,19595.0,888.0,...,1289773.0,9078,NaN,NaN,62498.0,NaN,NaN,0,1289773.0,9078
2,2020-10-23,AR,A+,1782.0,1626.0,10,156.0,6678.0,6678.0,610.0,...,1267501.0,11967,NaN,21856.0,NaN,44666.0,NaN,0,1267501.0,11967
3,2020-10-23,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1616.0,0,NaN,NaN,NaN,NaN,NaN,0,1616.0,0
4,2020-10-23,AZ,A+,5865.0,5578.0,6,287.0,20967.0,20967.0,815.0,...,1681469.0,12907,311920.0,NaN,NaN,NaN,1681469.0,12907,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13096,2020-01-24,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
13097,2020-01-23,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,2.0,1,NaN,NaN,NaN,NaN,NaN,0,2.0,1
13098,2020-01-23,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
13099,2020-01-22,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,1
13100,2020-01-22,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [5]:
#Remove the rows with missing values
all_states_history_df = all_states_history_df.dropna(how="all")
all_states_history_df.count()

date                                13101
state                               13101
dataQualityGrade                    11908
death                               12341
deathConfirmed                       5408
deathIncrease                       13101
deathProbable                        3926
hospitalized                         7553
hospitalizedCumulative               7553
hospitalizedCurrently               10182
hospitalizedIncrease                13101
inIcuCumulative                      2193
inIcuCurrently                       5893
negative                            12853
negativeIncrease                    13101
negativeTestsAntibody                 730
negativeTestsPeopleAntibody           592
negativeTestsViral                   2248
onVentilatorCumulative                762
onVentilatorCurrently                4870
pending                              1464
positive                            12991
positiveCasesViral                  10138
positiveIncrease                    13101
positiveScore                       13101
positiveTestsAntibody                1689
positiveTestsAntigen                  388
positiveTestsPeopleAntibody           592
positiveTestsPeopleAntigen            228
positiveTestsViral                   3258
recovered                            9175
totalTestEncountersViral             2082
totalTestEncountersViralIncrease    13101
totalTestResults                    13071
totalTestResultsIncrease            13101
totalTestsAntibody                   2312
totalTestsAntigen                     570
totalTestsPeopleAntibody              950
totalTestsPeopleAntigen               324
totalTestsPeopleViral                5368
totalTestsPeopleViralIncrease       13101
totalTestsViral                      7443
totalTestsViralIncrease             13101
dtype: int64

In [6]:
# Show just the header
all_states_history_df.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-23,AK,A,68.0,68.0,0,NaN,NaN,NaN,59.0,...,552746.0,4037,NaN,NaN,NaN,NaN,NaN,0,552746.0,4037
1,2020-10-23,AL,A,2859.0,2674.0,16,185.0,19595.0,19595.0,888.0,...,1289773.0,9078,NaN,NaN,62498.0,NaN,NaN,0,1289773.0,9078
2,2020-10-23,AR,A+,1782.0,1626.0,10,156.0,6678.0,6678.0,610.0,...,1267501.0,11967,NaN,21856.0,NaN,44666.0,NaN,0,1267501.0,11967
3,2020-10-23,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1616.0,0,NaN,NaN,NaN,NaN,NaN,0,1616.0,0
4,2020-10-23,AZ,A+,5865.0,5578.0,6,287.0,20967.0,20967.0,815.0,...,1681469.0,12907,311920.0,NaN,NaN,NaN,1681469.0,12907,NaN,0

In [7]:
all_states_history_df.dtypes

date                                 object
state                                object
dataQualityGrade                     object
death                               float64
deathConfirmed                      float64
deathIncrease                         int64
deathProbable                       float64
hospitalized                        float64
hospitalizedCumulative              float64
hospitalizedCurrently               float64
hospitalizedIncrease                  int64
inIcuCumulative                     float64
inIcuCurrently                      float64
negative                            float64
negativeIncrease                      int64
negativeTestsAntibody               float64
negativeTestsPeopleAntibody         float64
negativeTestsViral                  float64
onVentilatorCumulative              float64
onVentilatorCurrently               float64
pending                             float64
positive                            float64
positiveCasesViral                  float64
positiveIncrease                      int64
positiveScore                         int64
positiveTestsAntibody               float64
positiveTestsAntigen                float64
positiveTestsPeopleAntibody         float64
positiveTestsPeopleAntigen          float64
positiveTestsViral                  float64
recovered                           float64
totalTestEncountersViral            float64
totalTestEncountersViralIncrease      int64
totalTestResults                    float64
totalTestResultsIncrease              int64
totalTestsAntibody                  float64
totalTestsAntigen                   float64
totalTestsPeopleAntibody            float64
totalTestsPeopleAntigen             float64
totalTestsPeopleViral               float64
totalTestsPeopleViralIncrease         int64
totalTestsViral                     float64
totalTestsViralIncrease               int64
dtype: object

In [8]:
# Create a filtered dataframe from specific columns
all_states_history_cols = ["date","state","dataQualityGrade","death","deathConfirmed","deathIncrease","deathProbable","hospitalized","hospitalizedCumulative","hospitalizedCurrently","totalTestResultsIncrease","totalTestsAntibody","totalTestsAntigen","totalTestsPeopleAntibody","totalTestsPeopleAntigen","totalTestsPeopleViral","totalTestsPeopleViralIncrease","totalTestsViral","totalTestsViralIncrease"]
all_states_history_transformed= all_states_history_df[all_states_history_cols].copy()

In [9]:
# Rename the column headers
all_states_history_transformed.rename( columns={'totalTestsPeopleViral':'confirmed','totalTestsPeopleAntigen':'recovered'}, inplace=True )
all_states_history_transformed.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,recovered,confirmed,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-23,AK,A,68.0,68.0,0,NaN,NaN,NaN,59.0,4037,NaN,NaN,NaN,NaN,NaN,0,552746.0,4037
1,2020-10-23,AL,A,2859.0,2674.0,16,185.0,19595.0,19595.0,888.0,9078,NaN,NaN,62498.0,NaN,NaN,0,1289773.0,9078
2,2020-10-23,AR,A+,1782.0,1626.0,10,156.0,6678.0,6678.0,610.0,11967,NaN,21856.0,NaN,44666.0,NaN,0,1267501.0,11967
3,2020-10-23,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,1616.0,0
4,2020-10-23,AZ,A+,5865.0,5578.0,6,287.0,20967.0,20967.0,815.0,12907,311920.0,NaN,NaN,NaN,1681469.0,12907,NaN,0

In [10]:
all_states_history_transformed= all_states_history_transformed.groupby(['state']).sum()
all_states_history_transformed.head()

,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,recovered,confirmed,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
state,,,,,,,,,,,,,,,,
AK,5160.0,4899.0,68,0.0,688.0,688.0,5877.0,552738,0.0,0.0,0.0,0.0,0.0,0,42251523.0,552746
AL,272540.0,256919.0,2859,11088.0,1625877.0,1625877.0,169189.0,1289773,0.0,0.0,3076978.0,0.0,0.0,0,116985505.0,1289773
AR,108623.0,53305.0,1782,5671.0,510529.0,510529.0,65237.0,1267495,0.0,1299389.0,0.0,793086.0,0.0,0,93465059.0,1267501
AS,0.0,0.0,0,0.0,0.0,0.0,0.0,1616,0.0,0.0,0.0,0.0,0.0,0,168511.0,1616
AZ,573722.0,497619.0,5865,28087.0,2180486.0,2180486.0,257726.0,1681440,34776735.0,0.0,0.0,0.0,149549383.0,1681469,0.0,0

In [11]:
all_states_history_transformed['disease'] = all_states_history_transformed.apply(lambda row:"covid_19",axis =1)
all_states_history_transformed.head()

,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,recovered,confirmed,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease,disease
state,,,,,,,,,,,,,,,,,
AK,5160.0,4899.0,68,0.0,688.0,688.0,5877.0,552738,0.0,0.0,0.0,0.0,0.0,0,42251523.0,552746,covid_19
AL,272540.0,256919.0,2859,11088.0,1625877.0,1625877.0,169189.0,1289773,0.0,0.0,3076978.0,0.0,0.0,0,116985505.0,1289773,covid_19
AR,108623.0,53305.0,1782,5671.0,510529.0,510529.0,65237.0,1267495,0.0,1299389.0,0.0,793086.0,0.0,0,93465059.0,1267501,covid_19
AS,0.0,0.0,0,0.0,0.0,0.0,0.0,1616,0.0,0.0,0.0,0.0,0.0,0,168511.0,1616,covid_19
AZ,573722.0,497619.0,5865,28087.0,2180486.0,2180486.0,257726.0,1681440,34776735.0,0.0,0.0,0.0,149549383.0,1681469,0.0,0,covid_19

# Create new data frame with us_covid

In [12]:
csv_file = "Resources/us_covid.csv"

In [13]:
us_covid = pd.read_csv(csv_file)
us_covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [14]:
us_covid = us_covid.groupby(['state']).sum()
us_covid.head()

                  fips     cases   deaths
state
Alabama     15000069.0  13930569   261474
Alaska       9625141.0    684632     4404
Arizona     13125548.0  22503101   551066
Arkansas    78270922.0   7138495   101932
California  76079950.0  78257189  1620626

In [15]:
us_covid['disease'] = us_covid.apply(lambda row:"covid_19",axis =1)

In [16]:
us_covid= us_covid.reset_index()
us_covid

                       state          fips     cases   deaths   disease
0                    Alabama  1.500007e+07  13930569   261474  covid_19
1                     Alaska  9.625141e+06    684632     4404  covid_19
2                    Arizona  1.312555e+07  22503101   551066  covid_19
3                   Arkansas  7.827092e+07   7138495   101932  covid_19
4                 California  7.607995e+07  78257189  1620626  covid_19
5                   Colorado  1.041555e+08   8085870   309581  covid_19
6                Connecticut  1.574586e+07   8824815   750824  covid_19
7                   Delaware  6.561970e+06   2514964    89289  covid_19
8       District of Columbia  2.497227e+06   2077314    96233  covid_19
9                    Florida  1.729705e+08  65970109  1281222  covid_19
10                   Georgia  4.384735e+08  28276288   704429  covid_19
11                      Guam  0.000000e+00    347462     2935  covid_19
12                    Hawaii  1.326441e+07    840246     9562  covid_19
13                     Idaho  1.291284e+08   3521619    40764  covid_19
14                  Illinois  3.521790e+08  33340288  1265360  covid_19
15                   Indiana  3.500595e+08  12573255   502148  covid_19
16                      Iowa  3.781258e+08   8255794   152147  covid_19
17                    Kansas  3.838390e+08   5240411    69178  covid_19
18                  Kentucky  5.070859e+08   6095409   135575  covid_19
19                 Louisiana  2.994513e+08  18155024   714457  covid_19
20                     Maine  7.737949e+07    659243    20372  covid_19
21                  Maryland  1.245545e+08  14915547   569245  covid_19
22             Massachusetts  7.831943e+07  20500181  1436236  covid_19
23                  Michigan  4.442289e+08  16654469  1134794  covid_19
24                 Minnesota  4.720468e+08   9597644   269130  covid_19
25               Mississippi  4.846137e+08   9308952   293407  covid_19
26                  Missouri  6.529281e+08  10233530   233876  covid_19
27                   Montana  2.608210e+08    935422    13306  covid_19
28                  Nebraska  4.860881e+08   4664526    56046  covid_19
29                    Nevada  9.830484e+07   7437594   158048  covid_19
30             New Hampshire  7.153270e+07   1120039    62770  covid_19
31                New Jersey  1.576191e+08  33232979  2565522  covid_19
32                New Mexico  2.255271e+08   3195020   104260  covid_19
33                  New York  4.446886e+08  77928552  5810857  covid_19
34            North Carolina  7.682683e+08  19597124   350767  covid_19
35              North Dakota  3.622381e+08   1597365    22872  covid_19
36  Northern Mariana Islands  1.354654e+07      7846      398  covid_19
37                      Ohio  7.197599e+08  15359314   585061  covid_19
38                  Oklahoma  6.138225e+08   6784072   106637  covid_19
39                    Oregon  2.963190e+08   3082801    58491  covid_19
40              Pennsylvania  5.965942e+08  20440080  1202678  covid_19
41               Puerto Rico  9.418267e+08   3644427     2275  covid_19
42              Rhode Island  4.598522e+07   3369604   160700  covid_19
43            South Carolina  4.424427e+08  13275243   298824  covid_19
44              South Dakota  5.464174e+08   1961359    23000  covid_19
45                 Tennessee  9.307380e+08  17114356   208774  covid_19
46                     Texas  2.339613e+09  68848264  1324496  covid_19
47                      Utah  2.738302e+08   6644994    48871  covid_19
48                   Vermont  1.491418e+08    259488    10738  covid_19
49            Virgin Islands  4.610982e+07    100069     1853  covid_19
50                  Virginia  1.391656e+09  15489313   370679  covid_19
51                Washington  4.478648e+08   9793114   297402  covid_19
52             West Virginia  5.853643e+08   1285919    28903  covid_19
53                 Wisconsin  8.120759e+08  10803727   164587  covid_19
54                   Wyoming  2.620740e+08    517741     5053  covid_19

In [17]:
#Removing states not in the us
us_covid = us_covid.drop([11,36,41,49])
us_covid.count()

state      51
fips       51
cases      51
deaths     51
disease    51
dtype: int64

In [18]:
us_covid.describe

<bound method NDFrame.describe of                    state          fips     cases   deaths   disease
0                Alabama  1.500007e+07  13930569   261474  covid_19
1                 Alaska  9.625141e+06    684632     4404  covid_19
2                Arizona  1.312555e+07  22503101   551066  covid_19
3               Arkansas  7.827092e+07   7138495   101932  covid_19
4             California  7.607995e+07  78257189  1620626  covid_19
5               Colorado  1.041555e+08   8085870   309581  covid_19
6            Connecticut  1.574586e+07   8824815   750824  covid_19
7               Delaware  6.561970e+06   2514964    89289  covid_19
8   District of Columbia  2.497227e+06   2077314    96233  covid_19
9                Florida  1.729705e+08  65970109  1281222  covid_19
10               Georgia  4.384735e+08  28276288   704429  covid_19
12                Hawaii  1.326441e+07    840246     9562  covid_19
13                 Idaho  1.291284e+08   3521619    40764  covid_19
14              Illinois  3.521790e+08  33340288  1265360  covid_19
15               Indiana  3.500595e+08  12573255   502148  covid_19
16                  Iowa  3.781258e+08   8255794   152147  covid_19
17                Kansas  3.838390e+08   5240411    69178  covid_19
18              Kentucky  5.070859e+08   6095409   135575  covid_19
19             Louisiana  2.994513e+08  18155024   714457  covid_19
20                 Maine  7.737949e+07    659243    20372  covid_19
21              Maryland  1.245545e+08  14915547   569245  covid_19
22         Massachusetts  7.831943e+07  20500181  1436236  covid_19
23              Michigan  4.442289e+08  16654469  1134794  covid_19
24             Minnesota  4.720468e+08   9597644   269130  covid_19
25           Mississippi  4.846137e+08   9308952   293407  covid_19
26              Missouri  6.529281e+08  10233530   233876  covid_19
27               Montana  2.608210e+08    935422    13306  covid_19
28              Nebraska  4.860881e+08   4664526    56046  covid_19
29                Nevada  9.830484e+07   7437594   158048  covid_19
30         New Hampshire  7.153270e+07   1120039    62770  covid_19
31            New Jersey  1.576191e+08  33232979  2565522  covid_19
32            New Mexico  2.255271e+08   3195020   104260  covid_19
33              New York  4.446886e+08  77928552  5810857  covid_19
34        North Carolina  7.682683e+08  19597124   350767  covid_19
35          North Dakota  3.622381e+08   1597365    22872  covid_19
37                  Ohio  7.197599e+08  15359314   585061  covid_19
38              Oklahoma  6.138225e+08   6784072   106637  covid_19
39                Oregon  2.963190e+08   3082801    58491  covid_19
40          Pennsylvania  5.965942e+08  20440080  1202678  covid_19
42          Rhode Island  4.598522e+07   3369604   160700  covid_19
43        South Carolina  4.424427e+08  13275243   298824  covid_19
44          South Dakota  5.464174e+08   1961359    23000  covid_19
45             Tennessee  9.307380e+08  17114356   208774  covid_19
46                 Texas  2.339613e+09  68848264  1324496  covid_19
47                  Utah  2.738302e+08   6644994    48871  covid_19
48               Vermont  1.491418e+08    259488    10738  covid_19
50              Virginia  1.391656e+09  15489313   370679  covid_19
51            Washington  4.478648e+08   9793114   297402  covid_19
52         West Virginia  5.853643e+08   1285919    28903  covid_19
53             Wisconsin  8.120759e+08  10803727   164587  covid_19
54               Wyoming  2.620740e+08    517741     5053  covid_19>

# Create new data frame with Health care provider

In [19]:
#Store CSV into df
csv_file= "Resources/healthcare-provider.csv"
hcp_data_df= pd.read_csv(csv_file)
hcp_data_df.head()

,HCP_ID,Location,Total Hospital Beds,"Hospital Beds per 10,000 Population",ICU Beds,"ICU Beds per 10,000 Population",Total CHCs,CHC Service Delivery Sites
0,NaN,United States,749728,23.5,85247,2.7,1331,11606
1,NaN,Alabama,15035,31.6,1870,3.9,15,144
2,NaN,Alaska,1604,22.6,130,1.8,27,193
3,NaN,Arizona,12875,18.4,1742,2.5,20,188
4,NaN,Arkansas,8353,28.6,856,2.9,12,142

In [20]:
hcp_data = hcp_data_df.drop(['HCP_ID'], axis=1)
hcp_data.head()

,Location,Total Hospital Beds,"Hospital Beds per 10,000 Population",ICU Beds,"ICU Beds per 10,000 Population",Total CHCs,CHC Service Delivery Sites
0,United States,749728,23.5,85247,2.7,1331,11606
1,Alabama,15035,31.6,1870,3.9,15,144
2,Alaska,1604,22.6,130,1.8,27,193
3,Arizona,12875,18.4,1742,2.5,20,188
4,Arkansas,8353,28.6,856,2.9,12,142

In [21]:
hcp_data = hcp_data.drop(index=0)
print(hcp_data.head())

     Location  Total Hospital Beds  Hospital Beds per 10,000 Population  \
1     Alabama                15035                                 31.6
2      Alaska                 1604                                 22.6
3     Arizona                12875                                 18.4
4    Arkansas                 8353                                 28.6
5  California                74286                                 19.2

   ICU Beds  ICU Beds per 10,000 Population  Total CHCs  \
1      1870                             3.9          15
2       130                             1.8          27
3      1742                             2.5          20
4       856                             2.9          12
5      8131                             2.1         177

   CHC Service Delivery Sites
1                         144
2                         193
3                         188
4                         142
5                        1740

In [22]:
#rename a column
hcp_data.rename( columns={'Unnamed: 0':'HCP_ID'}, inplace=True )
hcp_data.head()

,Location,Total Hospital Beds,"Hospital Beds per 10,000 Population",ICU Beds,"ICU Beds per 10,000 Population",Total CHCs,CHC Service Delivery Sites
1,Alabama,15035,31.6,1870,3.9,15,144
2,Alaska,1604,22.6,130,1.8,27,193
3,Arizona,12875,18.4,1742,2.5,20,188
4,Arkansas,8353,28.6,856,2.9,12,142
5,California,74286,19.2,8131,2.1,177,1740

In [23]:
#New df with columns selected
new_hcp_data_df = hcp_data[['Location','Total Hospital Beds', 'ICU Beds', 'Total CHCs', 'CHC Service Delivery Sites']].copy()
new_hcp_data_df.head()

,Location,Total Hospital Beds,ICU Beds,Total CHCs,CHC Service Delivery Sites
1,Alabama,15035,1870,15,144
2,Alaska,1604,130,27,193
3,Arizona,12875,1742,20,188
4,Arkansas,8353,856,12,142
5,California,74286,8131,177,1740

In [48]:
#renaming column names
final_hcp_data_df=new_hcp_data_df.rename(columns={"Location":"us_state", "Total Hospital Beds": "total_hospital_beds", "ICU Beds": "icu_beds", "Total CHCs": "total_chcs", "CHC Service Delivery Sites": "chc_service_delivery_sites"})
final_hcp_data_df.head()

,us_state,total_hospital_beds,icu_beds,total_chcs,chc_service_delivery_sites
1,Alabama,15035,1870,15,144
2,Alaska,1604,130,27,193
3,Arizona,12875,1742,20,188
4,Arkansas,8353,856,12,142
5,California,74286,8131,177,1740

In [49]:
final_hcp_data_df.describe

<bound method NDFrame.describe of                 us_state  total_hospital_beds  icu_beds  total_chcs  \
1                Alabama                15035      1870          15
2                 Alaska                 1604       130          27
3                Arizona                12875      1742          20
4               Arkansas                 8353       856          12
5             California                74286      8131         177
6               Colorado                 9737      1770          20
7            Connecticut                 8102       731          16
8               Delaware                 1916       249           3
9   District of Columbia                 2156       401           8
10               Florida                53795      6226          47
11               Georgia                23692      2703          35
12                Hawaii                 2835       219          14
13                 Idaho                 3269       333          14
14              Illinois                29984      3426          44
15               Indiana                16194      2358          25
16                  Iowa                 8468       622          14
17                Kansas                 8161       878          18
18              Kentucky                13872      1447          24
19             Louisiana                14279      1518          34
20                 Maine                 3335       288          18
21              Maryland                10613      1227          17
22         Massachusetts                14486      1555          39
23              Michigan                23942      2749          38
24             Minnesota                13655      1277          16
25           Mississippi                10598       931          20
26              Missouri                17412      2092          29
27               Montana                 3689       248          14
28              Nebraska                 5621       548           7
29                Nevada                 6078      1118           7
30         New Hampshire                 2646       252          10
31            New Jersey                18803      1882          23
32            New Mexico                 3621       460          17
33              New York                54219      4420          62
34        North Carolina                23230      3168          40
35          North Dakota                 2999       278           4
36                  Ohio                27554      3622          47
37              Oklahoma                10857      1164          20
38                Oregon                 6731       837          30
39          Pennsylvania                33857      3643          43
40          Rhode Island                 2424       279           8
41        South Carolina                11574      1459          23
42          South Dakota                 3967       150           4
43             Tennessee                17876      2309          29
44                 Texas                56117      7149          72
45                  Utah                 4779       687          13
46               Vermont                 1046        94          11
47              Virginia                17370      2007          26
48            Washington                11116      1493          27
49         West Virginia                 6382       643          27
50             Wisconsin                12589      1506          17
51               Wyoming                 1929       102           6

    chc_service_delivery_sites
1                          144
2                          193
3                          188
4                          142
5                         1740
6                          215
7                          290
8                           17
9                           66
10                         610
11                         265
12                          73
13                         115
14                         402
15                         197
16                          80
17                          91
18                         324
19                         287
20                         156
21                         129
22                         276
23                         302
24                          87
25                         227
26                         270
27                          65
28                          45
29                          45
30                          43
31                         129
32                         212
33                         760
34                         264
35                          26
36                         304
37                          99
38                         232
39                         306
40                          52
41                         200
42                          48
43                         207
44                         537
45                          60
46                          72
47                         166
48                         349
49                         342
50                         143
51                          14  >

In [50]:
#Connect to local database
#rds_connection_string = "postgresql://postgres:Postgres1234@localhost:5432/HCP_Database"
#engine = create_engine(f'postgresql://{rds_connection_string}')

In [61]:
#Connect to local database
engine = create_engine('postgresql://postgres:Postgres1234@localhost:5432/HCP_Database')
connection = engine.connect()

## Check for tables

In [62]:
#Check for tables
engine.table_names()

['healthcare_p', 'us_covid', 'all_states_history']

## Use pandas to load csv converted DataFrame into database

In [63]:
#Load csv converted df into database
final_hcp_data_df.to_sql(name='healthcare_p', con=engine, if_exists='append', index=False)

In [64]:
#Check to see if data is loaded
pd.read_sql_query('select * from healthcare_p', con=engine).head()

,hcp_id,us_state,total_hospital_beds,icu_beds,total_chcs,chc_service_delivery_sites
0,1,Alabama,15035,1870,15,144
1,2,Alaska,1604,130,27,193
2,3,Arizona,12875,1742,20,188
3,4,Arkansas,8353,856,12,142
4,5,California,74286,8131,177,1740

In [65]:
#Load csv converted df into database
us_covid.to_sql(name='us_covid', con=engine, if_exists='append', index=False)

In [66]:
#Check to see if data is loaded
pd.read_sql_query('select * from us_covid', con=engine).head()

        state        fips     cases   deaths   disease
0     Alabama  15000069.0  13930569   261474  covid_19
1      Alaska   9625141.0    684632     4404  covid_19
2     Arizona  13125548.0  22503101   551066  covid_19
3    Arkansas  78270922.0   7138495   101932  covid_19
4  California  76079950.0  78257189  1620626  covid_19

In [67]:
#Load csv converted df into database
all_states_history_transformed.to_sql(name='Healthcare_P', con=engine, if_exists='append', index=False)

In [68]:
#Check to see if data is loaded
pd.read_sql_query('select * from all_states_history', con=engine).head()

Empty DataFrame
Columns: [date, state, dataqualitygrade, death, deathconfirmed, deathincrease, deathprobable, hospitalized, hospitalizedcumulative, hospitalizedcurrently, hospitalizedincrease, inicucumulative, inicucurrently, negative, negativeincrease, negativetestsantibody, negativetestspeopleantibody, negativetestsviral, onventilatorcumulative, onventilatorcurrently, pending, positive, positivecasesviral, positiveincrease, positivescore, positivetestsantibody, positivetestsantigen, positivetestspeopleantibody, positivetestspeopleantigen, positivetestsviral, recovered, totaltestencountersviral, totaltestencountersviralincrease, totaltestresults, totaltestresultsincrease, totaltestsantibody, totaltestsantigen, totaltestspeopleantibody, totaltestspeopleantigen, totaltestspeopleviral, totaltestspeopleviralincrease, totaltestsviral, totaltestsviralincrease, disease]
Index: []

[0 rows x 44 columns]