In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Store filepath in a variable
csv_file = "Resources/national_history.csv"

In [3]:
# Read our Data file with the pandas library
# CSV requires a delimiter
national_history_df = pd.read_csv(csv_file,delimiter=',')
national_history_df.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,posNeg,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease
0,2020-10-21,213672.0,994,22822.0,8182.0,2104,40271.0,441071.0,110646725,682149,2622.0,1920.0,0,8289661,57294,3323354.0,56,127825177,870363
1,2020-10-20,212678.0,832,22662.0,8178.0,2150,39230.0,438967.0,109964576,757254,2593.0,1889.0,0,8232367,60664,3295426.0,56,126954814,909386
2,2020-10-19,211846.0,456,22475.0,7997.0,1684,37826.0,436817.0,109207322,1025339,2577.0,1800.0,0,8171703,57148,3272603.0,56,126045428,1203168
3,2020-10-18,211390.0,393,22391.0,7292.0,853,36437.0,435133.0,108181983,770454,2557.0,1762.0,0,8114555,48922,3234183.0,56,124842260,982434
4,2020-10-17,210997.0,780,22320.0,7384.0,1535,37359.0,434280.0,107411529,954766,2553.0,1791.0,0,8065633,57943,3220607.0,56,123859826,1195546

In [4]:
national_history_df['_Type'] = national_history_df.apply(lambda row:"COVID",axis =1)

In [5]:
# Show raw data
national_history_df

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,posNeg,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease,_Type
0,2020-10-21,213672.0,994,22822.0,8182.0,2104,40271.0,441071.0,110646725,682149,2622.0,1920.0,0,8289661,57294,3323354.0,56,127825177,870363,COVID
1,2020-10-20,212678.0,832,22662.0,8178.0,2150,39230.0,438967.0,109964576,757254,2593.0,1889.0,0,8232367,60664,3295426.0,56,126954814,909386,COVID
2,2020-10-19,211846.0,456,22475.0,7997.0,1684,37826.0,436817.0,109207322,1025339,2577.0,1800.0,0,8171703,57148,3272603.0,56,126045428,1203168,COVID
3,2020-10-18,211390.0,393,22391.0,7292.0,853,36437.0,435133.0,108181983,770454,2557.0,1762.0,0,8114555,48922,3234183.0,56,124842260,982434,COVID
4,2020-10-17,210997.0,780,22320.0,7384.0,1535,37359.0,434280.0,107411529,954766,2553.0,1791.0,0,8065633,57943,3220607.0,56,123859826,1195546,COVID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,2020-01-26,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,0,NaN,2,2,0,COVID
270,2020-01-25,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,0,NaN,2,2,0,COVID
271,2020-01-24,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,0,NaN,2,2,0,COVID
272,2020-01-23,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,0,NaN,2,2,1,COVID
273,2020-01-22,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,0,NaN,2,1,0,COVID

In [6]:
#Remove the rows with missing values
national_history_df = national_history_df.dropna(how="any")
national_history_df.count()

date                        204
death                       204
deathIncrease               204
inIcuCumulative             204
inIcuCurrently              204
hospitalizedIncrease        204
hospitalizedCurrently       204
hospitalizedCumulative      204
negative                    204
negativeIncrease            204
onVentilatorCumulative      204
onVentilatorCurrently       204
posNeg                      204
positive                    204
positiveIncrease            204
recovered                   204
states                      204
totalTestResults            204
totalTestResultsIncrease    204
_Type                       204
dtype: int64

In [7]:
# Show just the header
national_history_df.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,posNeg,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease,_Type
0,2020-10-21,213672.0,994,22822.0,8182.0,2104,40271.0,441071.0,110646725,682149,2622.0,1920.0,0,8289661,57294,3323354.0,56,127825177,870363,COVID
1,2020-10-20,212678.0,832,22662.0,8178.0,2150,39230.0,438967.0,109964576,757254,2593.0,1889.0,0,8232367,60664,3295426.0,56,126954814,909386,COVID
2,2020-10-19,211846.0,456,22475.0,7997.0,1684,37826.0,436817.0,109207322,1025339,2577.0,1800.0,0,8171703,57148,3272603.0,56,126045428,1203168,COVID
3,2020-10-18,211390.0,393,22391.0,7292.0,853,36437.0,435133.0,108181983,770454,2557.0,1762.0,0,8114555,48922,3234183.0,56,124842260,982434,COVID
4,2020-10-17,210997.0,780,22320.0,7384.0,1535,37359.0,434280.0,107411529,954766,2553.0,1791.0,0,8065633,57943,3220607.0,56,123859826,1195546,COVID

In [8]:
# Create a filtered dataframe from specific columns
national_history_cols = ["date","death","deathIncrease","inIcuCumulative","inIcuCurrently","hospitalizedIncrease","hospitalizedCurrently","hospitalizedCumulative","negative","negativeIncrease","onVentilatorCumulative","onVentilatorCurrently","posNeg","positive","positiveIncrease","recovered","states","totalTestResults","totalTestResultsIncrease","_Type"]
national_history_transformed= national_history_df[national_history_cols].copy()

In [9]:
# Clean the data by setting the index and rename
national_history_transformed.rename( columns={'Unnamed: 0':'HCP_ID'}, inplace=True )
national_history_transformed.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,posNeg,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease,_Type
0,2020-10-21,213672.0,994,22822.0,8182.0,2104,40271.0,441071.0,110646725,682149,2622.0,1920.0,0,8289661,57294,3323354.0,56,127825177,870363,COVID
1,2020-10-20,212678.0,832,22662.0,8178.0,2150,39230.0,438967.0,109964576,757254,2593.0,1889.0,0,8232367,60664,3295426.0,56,126954814,909386,COVID
2,2020-10-19,211846.0,456,22475.0,7997.0,1684,37826.0,436817.0,109207322,1025339,2577.0,1800.0,0,8171703,57148,3272603.0,56,126045428,1203168,COVID
3,2020-10-18,211390.0,393,22391.0,7292.0,853,36437.0,435133.0,108181983,770454,2557.0,1762.0,0,8114555,48922,3234183.0,56,124842260,982434,COVID
4,2020-10-17,210997.0,780,22320.0,7384.0,1535,37359.0,434280.0,107411529,954766,2553.0,1791.0,0,8065633,57943,3220607.0,56,123859826,1195546,COVID

In [10]:
csv_file = "Resources/us_covid.csv"

In [11]:
us_covid = pd.read_csv(csv_file)
us_covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [12]:
us_covid = us_covid.groupby(['state']).sum()
us_covid.head()

                  fips     cases   deaths
state
Alabama     15000069.0  13930569   261474
Alaska       9625141.0    684632     4404
Arizona     13125548.0  22503101   551066
Arkansas    78270922.0   7138495   101932
California  76079950.0  78257189  1620626

In [13]:
us_covid['Type'] = us_covid.apply(lambda row:"covid_19",axis =1)

In [14]:
us_covid= us_covid.reset_index()
us_covid.head()

        state        fips     cases   deaths      Type
0     Alabama  15000069.0  13930569   261474  covid_19
1      Alaska   9625141.0    684632     4404  covid_19
2     Arizona  13125548.0  22503101   551066  covid_19
3    Arkansas  78270922.0   7138495   101932  covid_19
4  California  76079950.0  78257189  1620626  covid_19

In [15]:
#Removing states not in the us
us_covid = us_covid.drop([11,36,41,49])
us_covid.count()

state     51
fips      51
cases     51
deaths    51
Type      51
dtype: int64

In [16]:
#Resetting the index 
us_covid= us_covid.reset_index()
us_covid.head()

   index       state        fips     cases   deaths      Type
0      0     Alabama  15000069.0  13930569   261474  covid_19
1      1      Alaska   9625141.0    684632     4404  covid_19
2      2     Arizona  13125548.0  22503101   551066  covid_19
3      3    Arkansas  78270922.0   7138495   101932  covid_19
4      4  California  76079950.0  78257189  1620626  covid_19

In [17]:
us_covid.drop(['index'], axis=1)
us_covid.head()

   index       state        fips     cases   deaths      Type
0      0     Alabama  15000069.0  13930569   261474  covid_19
1      1      Alaska   9625141.0    684632     4404  covid_19
2      2     Arizona  13125548.0  22503101   551066  covid_19
3      3    Arkansas  78270922.0   7138495   101932  covid_19
4      4  California  76079950.0  78257189  1620626  covid_19

In [18]:
#rename a column
us_covid.rename( columns={'Unnamed: 0':'HCP_ID'}, inplace=True )
us_covid.head()

   index       state        fips     cases   deaths      Type
0      0     Alabama  15000069.0  13930569   261474  covid_19
1      1      Alaska   9625141.0    684632     4404  covid_19
2      2     Arizona  13125548.0  22503101   551066  covid_19
3      3    Arkansas  78270922.0   7138495   101932  covid_19
4      4  California  76079950.0  78257189  1620626  covid_19

In [19]:
#Store CSV into df
csv_file= "Resources/healthcare-provider.csv"
hcp_data_df= pd.read_csv(csv_file)
hcp_data_df.head()

,HCP_ID,Location,Total Hospital Beds,"Hospital Beds per 10,000 Population",ICU Beds,"ICU Beds per 10,000 Population",Total CHCs,CHC Service Delivery Sites
0,NaN,United States,749728,23.5,85247,2.7,1331,11606
1,NaN,Alabama,15035,31.6,1870,3.9,15,144
2,NaN,Alaska,1604,22.6,130,1.8,27,193
3,NaN,Arizona,12875,18.4,1742,2.5,20,188
4,NaN,Arkansas,8353,28.6,856,2.9,12,142

In [20]:
hcp_data = hcp_data_df.drop(['HCP_ID'], axis=1)
hcp_data.head()

,Location,Total Hospital Beds,"Hospital Beds per 10,000 Population",ICU Beds,"ICU Beds per 10,000 Population",Total CHCs,CHC Service Delivery Sites
0,United States,749728,23.5,85247,2.7,1331,11606
1,Alabama,15035,31.6,1870,3.9,15,144
2,Alaska,1604,22.6,130,1.8,27,193
3,Arizona,12875,18.4,1742,2.5,20,188
4,Arkansas,8353,28.6,856,2.9,12,142

In [21]:
#rename a column
hcp_data.rename( columns={'Unnamed: 0':'HCP_ID'}, inplace=True )
hcp_data.head()

,Location,Total Hospital Beds,"Hospital Beds per 10,000 Population",ICU Beds,"ICU Beds per 10,000 Population",Total CHCs,CHC Service Delivery Sites
0,United States,749728,23.5,85247,2.7,1331,11606
1,Alabama,15035,31.6,1870,3.9,15,144
2,Alaska,1604,22.6,130,1.8,27,193
3,Arizona,12875,18.4,1742,2.5,20,188
4,Arkansas,8353,28.6,856,2.9,12,142

In [22]:
#New df with columns selected
new_hcp_data_df = hcp_data_df[['Location','Total Hospital Beds', 'ICU Beds', 'Total CHCs', 'CHC Service Delivery Sites']].copy()
new_hcp_data_df.head()

,Location,Total Hospital Beds,ICU Beds,Total CHCs,CHC Service Delivery Sites
0,United States,749728,85247,1331,11606
1,Alabama,15035,1870,15,144
2,Alaska,1604,130,27,193
3,Arizona,12875,1742,20,188
4,Arkansas,8353,856,12,142

In [23]:
#renaming column names
final_hcp_data_df=new_hcp_data_df.rename(columns={"Location":"US_State","Total Hospital Beds": "Total_hospital_beds", "ICU Beds": "ICU_beds", "Total CHCs": "Total_CHCs", "CHC Service Delivery Sites": "CHC_service_delivery_sites"})
final_hcp_data_df.head()

,US_State,Total_hospital_beds,ICU_beds,Total_CHCs,CHC_service_delivery_sites
0,United States,749728,85247,1331,11606
1,Alabama,15035,1870,15,144
2,Alaska,1604,130,27,193
3,Arizona,12875,1742,20,188
4,Arkansas,8353,856,12,142

In [24]:
#Connect to local database
rds_connection_string = "postgresql://postgres:postgres@1234@localhost:5432/HCP_Database"
#engine = create_engine(f'postgresql://{rds_connection_string}')

In [25]:
engine = create_engine(f'postgresql://{rds_connection_string}')

In [26]:
#Check for tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgresql"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
#Load csv converted df into database
new_hcp_data_df.to_sql(name='Healthcare_P', con=engine, if_exists='append', index=False)

In [ ]:
#Check to see if data is loaded
pd.read_sql_query('select * from Healthcare_P', con=engine).head()